torch==2.2.2
torchaudio==2.2.2
torchcodec==0.0.0.dev0
pandas==2.3.3
numpy==1.26.4
matplotlib==3.9.4
scikit-learn==1.6.1
scipy
joblib
tensorflow==2.16.2
tensorflow-hub==0.16.1
streamlit==1.50.0
streamlit-advanced-audio==0.1.2
setuptools<=70.0.0
